.step-container {
  background-color: #f1ece2;
  padding: 10px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #53605f;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
  margin-bottom: 8px;
}

.down-image {
  width: 24px;
  height: 24px;
}
