.login-row {
  height: 100%;

  .login-left-group {
    background: url("../../assets/images/svg/mask-group.svg"),
      linear-gradient(-74.32deg, #f7f6f0, rgba(247, 246, 240, 0));
    margin: 0;
    padding: 0;
    background-size: cover;
  }

  .right-side-text {
    color: #53605f;
    text-align: right;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
}
