.text-field {
  .input-label {
    color: #53605f;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
  }
  .input {
    border-radius: 4px;
    border: 1px solid #e7e0d3;
    background: rgba(255, 255, 255, 0.6);
    color: #515959;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    padding: 16px 18px;
  }
  .input::placeholder {
    color: #53605f !important;
    opacity: 1;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .margin-bottom-10 {
    margin-bottom: 10px;
  }
}

.text-field.small-text {
  .input-label {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .input {
    font-size: 14px;
  }
  .input::placeholder {
    font-size: 14px;
  }
  .margin-bottom-10 {
    margin-bottom: 0px;
  }
}
