.assessment-card {
  border-radius: 4px;
  box-shadow: 0px 16px 30px 0px rgba(76, 90, 90, 0.1);

  .HeaderTitle {
    color: #ea4b22;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .HeaderLine {
    height: 1px;
    background: rgba(109, 110, 113, 0.13);
  }

  .QuestionFontStyle {
    color: #4c5a5a;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .OptionFontStyle {
    color: #4c5a5a;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.8;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;

    border-radius: 4px;
    border: 1px solid #e7e0d3;
    background: rgba(255, 255, 255, 0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  input[type="radio"]:checked {
    background: #ea4b22;
    border-radius: 4px;

    outline: 2px solid #ea4b22;
    outline-offset: 2px;
    background-size: 9px 9px;
  }
}
